<div class="container">
  <header>
    <h3 class="display-3 text-center my-4">Weather App</h3>
  </header>

  <div class="row mt-5">
    <div class="panel my-5">
      <app-weather-panel-main></app-weather-panel-main>
    </div>
    <div class="panel my-5">
      <app-weather-panel-main></app-weather-panel-main>
    </div>
    <div class="panel my-5">
      <app-weather-panel-main></app-weather-panel-main>
    </div>
    <div class="panel my-5">
      <app-weather-panel-main></app-weather-panel-main>
    </div>
  </div>
</div>
